.container {
    display: flex;
    gap: 20px;
    padding: 20px;
    min-height: calc(100vh - 160px);
    /* Riduce un po' la parte inferiore per non coprire la pagina */
    flex-direction: row;
    justify-content: space-between;
}

/* Sidebar con larghezza minima fissa */
.sidebar {
    width: 25vw;
    height: 100%;
    padding: 20px;
    position: absolute;
    top: 160px;
    right: 0;
    /* Allineato a destra */
    transition: all 0.3s ease;
}

/* Quando il bottone filtersAccordion è attivo */
.sidebar.show {
    position: relative;
    /* Cambia la posizione per spostarla sopra il contenuto */
    top: 0;
    /* La sidebar si posiziona in alto */
    width: 100%;
    /* La larghezza diventa piena per adattarsi al contenuto */
    display: block;
}


/* Contenuto principale */
.mainContent {
    flex: 0 0 75%;
    /* 75% della larghezza per i risultati */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Griglia delle proprietà */
.propertiesGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

/* Stile per il testo sotto la search bar */
.subtitle {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
}

.resetButton {
    height: 44px;
    min-width: 120px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent-color);
    color: var(--specs-background);
    transition: background-color 0.3s, transform 0.4s;

}

.resetButton:hover {
    background: var(--section-background);
    color: var(--text-color);
    transform: scale(1.05);
}

/* Bottoni Paginazione */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 20px;
}

.prevNextBtn,
.prevNextArrow {
    background-color: #4C40F7;
    color: white;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.prevNextBtn:disabled,
.prevNextArrow:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    border: none;
}

.prevNextBtn:hover,
.prevNextArrow:hover {
    background-color: #E7FE78;
    color: #222;
    transform: scale(1.05);
}

.prevNextBtn:disabled:hover,
.prevNextArrow:disabled:hover {
    background-color: #cccccc;
}

.filtersAccordion {
    display: none;
}



@media screen and (max-width: 1200px) {

    .propertiesGrid {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        /* Impedisce overflow */
    }

    .sidebar {
        display: block;
    }
}

@media screen and (max-width: 1024px) {
    .propertiesGrid {
        grid-template-columns: 1fr;
        /* Una colonna su schermi piccoli */
    }

    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
    }

    .filtersAccordion {
        display: block;
        /* Appare il bottone */
        width: auto;
        text-align: center;
        padding: 15px;
        background-color: #4C40F7;
        color: white;
        border: 2px solid #000;
        border-radius: 20px;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .sidebar {
        display: none;
        /* Nascondiamo la sidebar */
    }

    .sidebar.show {
        display: block;
        /* Mostriamo la sidebar quando attiva */
        width: 80%;
        max-width: 400px;
        margin: 0 auto;
        /* Centro la sidebar orizzontalmente */
        padding: 20px;
        background-color: #fff;
    }
}

@media screen and (max-width: 900px) {
    .propertiesGrid {
        grid-template-columns: 1fr;
        /* Una colonna su schermi piccoli */
    }
}

@media screen and (max-width: 576px) {
    .propertiesGrid {
        grid-template-columns: 1fr;
        /* Una colonna sola */
    }

    .prevNextArrow {
        display: none;
    }
}