.formContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;
    margin: 0 auto;
    padding: 24px;
    background: var(--card-background);
    border-radius: 8px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
}

input,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    background: var(--specs-background);
    color: var(--text-color);
    transition: border 0.3s ease-in-out;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: var(--secondary-color);
    box-shadow: 0 0 5px rgba(76, 64, 247, 0.3);
}

textarea {
    min-height: 120px;
    resize: vertical;
}

.errorMessage {
    color: var(--accent-color);
    font-size: 12px;
    margin-top: 4px;
}

.submitButton {
    width: 20%;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    background: var(--primary-color);
    color: var(--text-color);
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    margin-right: 8px;
}

.submitButton:hover {
    background: var(--accent-color);
    color: #fff;
}

.resetButton {
    width: 22%;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    background: var(--secondary-color);
    color: var(--specs-background);
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.resetButton:hover {
    background: var(--accent-color);
    color: var(--text-color);
}

/* form reviews */
.starRating {
    display: flex;
    gap: 5px;
    font-size: 24px;
    cursor: pointer;
}

.star {
    color: #ccc;
    transition: color 0.3s;
}

.star:hover,
.selectedStar {
    color: #FFD700;
    /* Oro */
}

.successMessage {
    color: green;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    animation: fadeOut 3s ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.errorMessage {
    color: red;
    font-size: 14px;
}

/* Responsive */
@media (max-width: 600px) {
    .formContainer {
        padding: 16px;
    }
}