.jumbotron {
    width: 100%;
    height: 90vh;
    background-color: #d4c2e7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    position: relative;
    margin-bottom: 80px;
}

.title {
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    position: relative;
    display: inline-block;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -5px 5px 0 #000,
        2px 2px 0 #000;

}

.subtitle {
    font-weight: 300;
    color: #222;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 0.5px;
}

.buttonContainer {
    margin-top: 50px;
    bottom: 150px;
    display: flex;
    gap: 15px;
}

.btnOutline {
    padding: 12px 24px;
    font-size: 1.2rem;
    border: 2px solid #000;
    background: transparent;
    color: #222;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    font-weight: bold;
}


.btnGreen {
    background-color: #E7FE78;
    color: #222;
    padding: 12px 24px;
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.btnGreen:hover,
.btnOutline:hover {
    transform: scale(1.05);
}



/******* MEDIA QUERIES *******/
/*  Schermi molto grandi: 2000px */
@media screen and (max-width: 2000px) {
    .container {
        max-width: 1600px;
    }

    .jumbotron {
        min-height: 100vh;
    }
}

/* Schermi grandi: 1200px */
@media screen and (max-width: 1200px) {
    .container {
        padding: 50px;
    }

    .jumbotron {
        min-height: 100vh;
    }
}

/* Schermi medi: 768px */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 40px;
    }

    .buttonContainer {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    .jumbotron {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }
}

/* Schermi piccoli: 576px */
@media screen and (max-width: 576px) {
    .container {
        padding: 30px;
        min-height: auto;
    }

    .title {
        font-size: 50px;
        text-align: center;
    }

    .buttonContainer {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .btnOutline {
        width: 80%;
    }

    .jumbotron {
        width: 100%;
        height: auto;
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* Schermi molto piccoli: 368px */
@media screen and (max-width: 368px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: auto;
        padding: 20px;
    }

    .title {
        font-size: 45px;
        text-align: center;
    }

    .subtitle {
        font-size: 18px;
        padding-bottom: 10px;
    }

    .buttonContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .btnOutline {
        width: 90%;
        margin: 10px auto;
    }

    .jumbotron {
        width: 100%;
        height: auto;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}